{
    "username": "bot_username",
    "password": "bot_password",
    "rcon_password": "rcon_password",
    
    "java-path": "java.exe",
    "mcrcon-path": "E:\\fullpath.exe",
    "server-path": "E:\\fullpath.jar",
    "server-folder": "E:\\",

    "min-ram": "2G",
    "max-ram": "4G",

    "config-level": "",
    "console-enabled": false
}